
.qcard {
    width: 100%;
    margin: 80px auto 0;
    padding: 60px 0;
    background-color: var(--bg-background-dark);
}

.qcard-container {
    width: 90%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qcard-content h2 {
    font-size: 42px;
    margin-bottom: 12px;
}

.qcard-content p {
    color: var(--text-color);
    margin-top: 24px;
}

.qcard-img-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.qcard-img {
    max-width: 320px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.qcard-img::-webkit-scrollbar {
    display: none;
}

.qcard-img div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    flex: none;
    transition: transform 0.5s;
}

.qcard-img div img {
    width: 100%;
}

.control-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.control-btn img {
    width: 60px;
    height: 60px;
    border: 1px solid var(--box-shadow);
    border-radius: 100px;
    box-shadow: 1px 1px 10px var(--box-shadow);
    cursor: pointer;
}




/* .qcard-img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
}

.qcard-img img {
    width: 100%;
} */


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    
}


@media only screen and (min-width: 768px) {
    
    .qcard-container {
        width: 80%;
        margin: 0 auto;
    }
    
    .qcard h2 {
        margin-bottom: 15px;
    }

    .qcard-img {
        max-width: 460px;
    }
    
    .qcard-img div {
        max-width: 320px;
    }
}


@media only screen and (min-width: 1024px) {
    .qcard {
        max-width: 100%;
        padding: 120px 0 100px;
        margin-top: 120px;
    } 

    .qcard-container {
        width: 80%;
        flex-direction: row;
        gap: 70px;
    }

    .qcard-content {
        max-width: 50%;
    }
    
    .qcard h2 {
        font-size: 48px;
        margin-bottom: 24px;
    }
}


@media only screen and (min-width: 1280px) {
    .qcard-container {
        max-width: 1280px;
    }

    .qcard {
        margin-top: 120px;
    } 
}


@media only screen and (min-width: 1480px) {
    
    .qcard {
        margin: 0 auto;
    }
}