
.hero {
    width: 100%;
    padding: 50px 0;
    background-color: #161616;
}

.hero-content {
    position: relative;
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content .content {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-content h1 {
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 30px auto;
}

.hero-content p {
    font-size: 18px;
    font-weight: 500;
}

.hero-search {
    margin-top: 50px;
    width: 100%;
    
}


/* Responsive Styles */


@media only screen and (min-width: 768px) {

    .hero-content {
        max-width: 860px;
    }
    .hero-content .content {
        width: 100%;
        text-align: center;
    }
    .hero-content .content h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .hero-search {
        max-width: 720px;
    }
}


@media only screen and (min-width: 1024px) {
    .hero-content {
        max-width: 860px;
    }
    .hero-content .content {
        width: 100%;
        text-align: center;
    }
    .hero-content .content h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .hero-search {
        max-width: 720px;
    }
}



@media only screen and (min-width: 1480px) {
    .hero {
        max-width: 1920px;
        margin: 0 auto;
    }
}