
.hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content .content {
    position: relative;
    width: 90%;
}


.hero-content h1 {
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 30px auto;
}


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    
    .hero-content .content {
        position: relative;
        width: 80%;
    }
    .hero-content h1 {      
        font-size: 42px;
    }
}


@media only screen and (min-width: 768px) {

    .hero-content .content {
        width: 70%;
        text-align: center;
    }
    .hero-content .content h1 {
        font-size: 42px;
    }
}


@media only screen and (min-width: 1024px) {
    .hero-content .content {
        width: 70%;
        text-align: center;
    }
    .hero-content .content h1 {
        font-size: 54px;
        line-height: 58px;
    }
}



@media only screen and (min-width: 1480px) {
    .hero {
        max-width: 1920px;
        height: 70vh;
        margin: 0 auto;
    }
}