
.subheader {
    width: 100%;
    margin: 40px 0 0;
    background-color: #140A24;
}

.header-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h2 {
    color: white;
    margin-bottom: 8px;
}
.content p {
    color: white;
    margin-bottom: 24px;
}

.btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-container .btn {
    border: 1px solid #DB2B2F;
    border-radius: 50px;
    padding: 8px 14px;
    background-color: transparent;
    color: #DB2B2F;
    font-size: 13px;
}

.btn-container .btn:is(:hover, :focus-visible) {
    background-color: #db2b2e20;
}

.subheading-img {
    margin-top: 40px;
}
.subheading-img img {
    width: 100%;
}


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    
    .header-container {
        padding: 30px 0px;
    }
}


@media only screen and (min-width: 768px) {
    .subheader {
        margin: 60px 0 0;
    }
    
    .header-container {
        width: 80%;
        padding: 30px 0px;
        flex-direction: row;
    }
    
    .content {
        width: 55%;
    }
    .content h2 {
        margin-bottom: 15px;
    }
    .content p {
        margin-bottom: 30px;
    }
    
    .btn-container .btn {
        font-size: 14px;
    }
    .subheading-img {
        width: 50%;
        margin: 0 20px;
    }
}


@media only screen and (min-width: 1024px) {
    .subheader {
        margin: 60px 0 0;
    }
    
    .header-container {
        width: 80%;
        padding: 60px 0px;
    }
    
    .content {
        width: 55%;
    }
    .content h2 {
        margin-bottom: 17px;
    }
    .content p {
        margin-bottom: 40px;
    }
    
    .btn-container .btn {
        font-size: 16px;
    }

    .subheading-img img {
        width: 100%;
    }
}


@media only screen and (min-width: 1280px) {
    .subheader {
        margin: 80px 0 0;
    }
    
    .header-container {
        max-width: 1680px;
        padding: 60px 0px;
    }
    
    .content {
        width: 50%;
    }
    .content h2 {
        letter-spacing: 2px;
    }
    .content p {
        font-size: 18px;
    }
    
    .btn-container .btn {
        font-size: 18px;
    }
    .subheading-img {
        width: 45%;
        margin: 0 22px;
    }
    .subheading-img img {
        width: 100%;
    }
    
}

@media only screen and (min-width: 1480px) {
    
    .header-container {
        max-width: 1680px;
        margin: 0 auto;
    }

    .header-content {
        width: 80%;
    }
}