
.subheader {
    width: 100%;
    margin: 80px 0 0;
    background-color: var(--bg-background-light);
}

.header-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h2 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 8px;
}
.header-content p {
    color: var(--text-color);
    margin-bottom: 24px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
}

.header-container .btn {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--button-sea-blue);    
    transition: 100ms linear;
    cursor: pointer;
}


.header-container .btn:is(:hover, :focus-visible) {
    background-color: rgba(42, 84, 254, 0.9);
    color: rgb(255, 255, 255);
  }

.subheading-img {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}
.subheading-img img {
    width: 100%;
}


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    
    .header-container {
        padding: 120px 0px;
    }
}


@media only screen and (min-width: 768px) {
    .subheader {
        margin: 80px 0 0;
    }

    .header-container {
        width: 80%;
    }
    
    .header-content p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    
    .subheading-img {
        margin-top: 40px;
    }
}


@media only screen and (min-width: 1024px) {
    .subheader {
        margin: 100px 0 100px;
    }
    
    .header-container {
        width: 80%;
        flex-direction: row;
        padding: 80px 0px;
        gap: 30px;
    }
    
    .header-container .content {
        width: 55%;
    }

    .header-container h2 {
        font-size: 48px;
        letter-spacing: 2px;
        margin-bottom: 18px;
        line-height: 58px;
    }

    .header-container p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    
    .btn-container .btn {
        font-size: 16px;
    }

    .subheading-img {
        width: 60%;
        overflow: hidden;
    }

    .subheading-img img {
        width: 100%;
    }
}


@media only screen and (min-width: 1280px) {
    
    .subheader {
        max-width: 100%;
    }

    .header-container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 100px 0px;
    }
    
}

@media only screen and (min-width: 1480px) {
    

    .header-content {
        width: 80%;
    }
}