
.searchbar {
    width: 360px;
    margin: 0 auto;
}

.searchbar form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    height: 42px;
    width: 70%;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
    outline: none;
    caret-color: white;
    color: white;
}
.searchbar input::placeholder {
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.6);
    opacity: 0.8;
}

.search-btn {
    height: 42px;
    width: 50px;
    padding: 7px 14px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-left: 1px solid hsla(0, 0%, 100%, 0.6);
    border-radius: 0 40px 40px 0;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.search-btn:is(:hover, :focus-visible) {
    background-color: hsla(0, 0%, 100%, 0.3);
    border-left: 1px solid hsla(0, 0%, 100%, 0.2);
}

.search-btn img {
    width: 16px;
    margin: auto;
}


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    
    .searchbar {
        width: 80%;
        margin: 0 auto;
    }

    .searchbar input {
        width: 80%;
    }

    .searchbar input::placeholder {
        font-size: 14px;
    }
    
    .search-btn {
        width: 60px;
    }
    
}

@media only screen and (min-width: 768px) {
    .searchbar {
        width: 60%;
        margin: 0 auto;
    }

    .searchbar input {
        width: 75%;
    }

    .searchbar input::placeholder {
        font-size: 14px;
    }
    
    .search-btn {
        width: 50px;
    }

    .search-btn img {
        width: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .searchbar {
        width: 60%;
        margin: 0 auto;
    }
    
    .searchbar input {
        width: 75%;
    }
    .searchbar input::placeholder {
        font-size: 14px;
    }
    
    .search-btn {
        width: 50px;
    }
    .search-btn img {
        width: 16px;
    }
}


@media only screen and (min-width: 1280px) {
    .searchbar input {
        width: 75%;
    }
    .searchbar input::placeholder {
        font-size: 14px;
    }
    
    .search-btn {
        width: 50px;
    }
    .search-btn img {
        width: 16px;
    }
}