
.searchbar {
    position: relative;
}

.searchbar form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.searchbar input {
    height: 28px;
    width: 180px;
    border: none;
    border-radius: 40px;
    padding-left: 10px;
    outline: none;
}
.searchbar input::placeholder {
    font-size: 12px;
    color: #272727;
    opacity: 0.2;
}

.search-btn {
    padding: 7px 14px;
    background-color: #db2b2ed1;
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.search-btn:is(:hover, :focus-visible) {
    background-color: #db2b2e;
}
.search-btn img {
    width: 16px;
}



/* Responsive Styles */

@media only screen and (min-width: 640px) {
    .searchbar form {
        gap: 10px;
    }
    
    .searchbar input {
        height: 36px;
        width: 280px;
        border-radius: 40px;
        padding-left: 15px;
    }
    .searchbar input::placeholder {
        font-size: 12px;
    }
    
    .search-btn {
        padding: 10px 17px;
        border-radius: 40px;
    }
    .search-btn img {
        width: 17px;
    }
}


@media only screen and (min-width: 1024px) {
    .searchbar form {
        gap: 14px;
    }
    
    .searchbar input {
        height: 48px;
        width: 420px;
        border-radius: 40px;
        padding-left: 20px;
    }
    .searchbar input::placeholder {
        font-size: 16px;
    }
    
    .search-btn {
        padding: 15px 26px;
        border-radius: 40px;
    }
    .search-btn img {
        width: 20px;
    }
}


@media only screen and (min-width: 1280px) {
    .searchbar form {
        gap: 14px;
    }
    
    .searchbar input {
        height: 48px;
        width: 420px;
        border-radius: 40px;
        padding-left: 20px;
    }
    .searchbar input::placeholder {
        font-size: 16px;
    }
    
    .search-btn {
        padding: 15px 26px;
        border-radius: 40px;
    }
    .search-btn img {
        width: 20px;
    }
}