

.legalqhero-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.legalqhero-content {
    position: relative;
    margin: 10px 0;
}

.legalqhero-content h1 {
    color: var(--text-color);
    margin-bottom: 14px;
}

.legalqhero-content p {
    color: var(--text-color);
}

.legalqhero-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
}
.legalqhero-img img {
    width: 100%;
}


.question-btn {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--button-sea-blue);    
    transition: 100ms linear;
    cursor: pointer;

}


/* Responsive Styles */

@media only screen and (min-width: 540px) {
    .legalqhero-container {
        width: 80%;
    }
    
    .legalqhero-img img {
        width: 80%;
    }
}


@media only screen and (min-width: 768px) {
    .legalqhero-container {
        width: 80%;
    }

    .legalhero-img img {
        width: 80%;
    }
}


@media only screen and (min-width: 1024px) {
    .legalqhero-container {
        width: 80%;
        flex-direction: row;
        gap: 30px;
        margin: 20px auto 40px;
        align-items: center;
    }

    .legalqhero-content {
        width: 40%;
    }

    .legalqhero-content h1 {
        font-size: 54px;
    }
    
    .legalqhero-img {
        width: 60%;
        margin: 0 auto;
    }

    .legalqhero-img img {
        width: 80%;
    }
}

@media only screen and (min-width: 1480px) {
    .legalqhero {
        max-width: 1680px;
        margin: 0 auto;
    }
}

.legalqcard-topic-content{
    
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}